# String

In [1]:
# 1. take name as input and say hello

name = input("Enter name here ")
print(f'hello {name}')

Enter name here Avi
hello Avi

In [2]:
# 2. From below string print count of "Is".
string = "He is Amol and she is Chaitali"

string.count("is")

2

In [3]:
# 3. from below string split the words by space
string = "Data is new oil"

string.split(' ')

['Data', 'is', 'new', 'oil']

In [4]:
# 4. now from below list, join all words by "=" and create a sentence.
list_1 = ["Data", "is", "new", "oil"]

sentence = "=".join(list_1)
sentence

'Data=is=new=oil'

In [5]:
# 5. from below string replace "Java" with "Python"
sentence = "I love programming in Java."

sentence.replace("Java", "Python")

'I love programming in Python.'

In [6]:
# 6. from below string remove(strip) additional spaces and print it
message = "   This is a message with spaces.   "

message.strip()

'This is a message with spaces.'

In [7]:
#7. From below string find postion(start index) of "sample"
sentence = "This is a sample sentence."

sentence.index("sample")

10

In [8]:
#8. Given the string "Python is fun!", how can you calculate and print its length?
text = "Python is fun!"

len(text)

14

In [9]:
#9. Print below string in reverse order
string = "Pineapple"

reversed_string = string[::-1]
print(reversed_string)

elppaeniP

In [10]:
#10. Given the string "Welcome to Python Programming.", how can you capitalize the first letter of each word and print the modified string?
text = "Welcome to Python Programming."

text.title()

'Welcome To Python Programming.'

In [11]:
#11. Convert all letter of string to Upper Case
text = "Data is new oil"

text.upper()

'DATA IS NEW OIL'

In [12]:
#12. From below string just convert first letter of string to upper case
text = "i am learning python"

text.capitalize()

'I am learning python'

In [13]:
#13. Convert all uppper case to lower and lower case to upper
text = "DaTA is NeW oIL"

text.swapcase()

'dAta IS nEw Oil'

In [14]:
#14. print the addition of below 2 integers
a = 20
b = 30

c = a+b
c

50

In [15]:
#15. print the additiono of below 2 strings
a = "20"
b = "30"

c = a+b
c

'2030'

# List

In [16]:
## 16. From below list replace 4 with 44
my_list = [1, 2, 3, 4, 5]

my_list[-2] = 44
my_list

[1, 2, 3, 44, 5]

In [17]:
## 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]

my_list[2] = 200
my_list

[1, 2, 200, 4, 5]

In [18]:
## 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]

my_list.append(66)
my_list

[1, 2, 3, 4, 5, 66]

In [19]:
## 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]

my_list.extend([66, 87, 99])
my_list

[1, 2, 3, 4, 5, 66, 87, 99]

In [20]:
## 20. from below list remove number 3
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
my_list

[1, 2, 4, 5]

In [21]:
## 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]

my_list.count("cherry")

2

In [22]:
## 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]

my_list.index("banana")

4

In [23]:
## 23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]

my_list.pop()

'Dehradun'

In [24]:
## 24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]

my_list.sort()
my_list

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [25]:
## 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]

my_list.sort()
print(my_list)

rev_list = my_list[::-1]
rev_list

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']

# Assignment

In [26]:
## 26.Create a list named myList that has three elements:
# - The integer 3
# - The string 'element number two'
# - Another list ['last','element']
#in that order.

myList = [3, "element number two", ['last', 'element']]

In [27]:
## 27.Print the third element of the following list.

l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
l[2]

3

In [28]:
## 28. Modify the last element of this list so that its value is 16. Print the modified list so you know the operation was performed successfully

listToModify = ['a', 'b', 'sixteen']
listToModify[-1] = 16
listToModify

['a', 'b', 16]

In [29]:
## 29.Calculate the length of the following list.

listToFindLength = ['this', 'is', 'the', 'list', 'whose', 'length', 'I', 'want']
len(listToFindLength)

8

In [30]:
## 30.Calculate the sum of the following list.

intList = [54, 678, 2890]
sum(intList)

3622

In [31]:
## 31.Find the maximum value of the following list

maxList = [677, 53245, 234, 236, 23456, 345, 23526, 3454]
max(maxList)

53245

In [32]:
## 32.Find the minimum value of the following list.

minList = [351, 984, 1697, 284, 134, 467, 164]
min(minList)

134

In [33]:
## 33.Append the string 'append me!' to the end of the following list. Print the list to ensure the operation has been completed successfully.

listToAppend = [1, 2, 3]
listToAppend.append('append me!')
listToAppend

[1, 2, 3, 'append me!']